:root {
    --svetlaoranzova: #FFDCA8;
    --tmavaoranzova: #FCB900;
    --cerna: #000000;
}

html {
    font-family: 'Poppins', sans-serif;
    ;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

::selection {
    background-color: #c59100;
    color: #ffffff;
}

/*HAMBURGER MENU*/

.hamburger {
    display: block;
}

.hamburger-nav {
    transform: scaleY(0);
    transition: .5s;
    transform-origin: top;
    height: 100vh;
}

.hamburger-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1em;
    color: var(--cerna);
    background-color: var(--svetlaoranzova);
}

.menu__link {
    display: block;
}

.menu__link a {
    color: var(--cerna);
}

.rezervace--btn {
    background-color: var(--tmavaoranzova);
}

@media screen and (min-width: 768px) {
    .hamburger-btn {
        display: none;
    }

    .hamburger-nav {
        transform: none;
        background-color: var(--svetlaoranzova);
        border: none;
        height: auto;
    }

    .hamburger-row {
        display: flex;
        justify-content: space-between;
        color: var(--cerna);
        align-content: center;
        padding: 0;
    }
}

.navbar {
    position: absolute;
    width: 60vw;
    transition: .5s;
    right: 0;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    text-align: left;
    border-bottom: 2px solid var(--cerna);
    padding: .8em 0 .5em 1em;
}

.uvod {
    margin: 1em;

}

.uvod__h1 {
    margin: 20px 0;
    font-size: 24px;
}

.uvod__text {
    max-width: 560px;
}

.uvod__img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-width: 400px;
}

.lekce__blok {
    display: flex;
    background-color: var(--svetlaoranzova);
    background-size: contain;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.lekce__blok:has(.lekce__blok:hover) .lekce__blok:hover{
    filter: blur(2);
}

.blok1 {
    background-image: url(../img/background3.avif);
    background-position: top;
}

.blok2 {
    background-image: url(../img/background4.jpg);
    background-position: center;
    background-size: 25%;
}

.blok3 {
    background-image: url(../img/background3.avif);
    background-position: top;
}

.blok4 {
    background-image: url(../img/background4.jpg);
    background-position: center;
    background-size: 25%;
}

.lekce__nabidka {
    position: relative;
    background-color: var(--tmavaoranzova);
    border-radius: 12px;
    padding: 1em;
    margin: .5em;
    flex: 0 0 100%;
    max-width: 300px;
}

.lekce__nabidka--visible {
    animation-name: lekce;
    animation-duration: 1s;
    animation-delay: 2s;
}

@keyframes lekce {
    from {
        left: 0;
    }

    to {
        right: 0;
    }
}

.lekce__odkaz {
    color: black;
}

.cenik {
    margin: .5em;
}

.cenik__h2 {
    text-align: center;
}

.cenik__tabulka {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

.cenik__tabulka tr {
    border: thin black solid;
    text-align: left;
}

.cenik__tabulka th, td {
    padding: 1em;
    font-weight: 400;
}

.cenik__tabulka td {
    white-space: nowrap;
}

.footer {
    background-color: var(--svetlaoranzova);
    padding: 0.25em 1em;
}

.footer__h2 {
    font-weight: 400;
    text-align: center;
}

.footer__blok {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1.5em;
}

.footer__blok p {
    margin: 0;
}

.footer__blok a {
    color: var(--cerna);
}

.footer__copy {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        background-color: var(--svetlaoranzova);
        padding: .5em 5em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        justify-content: flex-end;
        padding: 1em;
        background-color: initial;
        margin: auto 4.5em;
    }

    .menu__link {
        border-bottom: none;
        padding: 0;
    }

    .rezervace--btn {
        padding: .5em;
        border-radius: 20px;
    }

    .rezervace--btn:hover {
        transform: scale(1.1);
        transition: .5s;
    }

    .uvod {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin: 1em 5em;
    }

    .lekce__blok {
        padding: 1em 5em;
        justify-content: space-between;
    }

    .lekce__blok::-webkit-scrollbar {
        width: 0;
    }

    .lekce__nabidka--hidden {
        visibility: hidden;
        transition-delay: 1s;
        transition-duration: 2s;
        opacity: 0%;
    }

    .lekce__nabidka--visible {
        transition-delay: 2s;
        transition-duration: 1s;
    }

    .lekce__blok:hover .lekce__nabidka--hidden {
        visibility: visible;
        opacity: 100%;
        transition-delay: 1s;

    }


    .lekce__blok:hover .lekce__nabidka--visible {
        visibility: hidden;
        opacity: 0%;
        transition-delay: 1s;

    }

    .cenik {
        margin: 1em 5em;
    }

    .footer {
        padding: .25em 5em;
    }

    .footer__h2 {
        text-align: left;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__blok {
        margin: 0;
    }

    .footer__blok:last-child {
        text-align: end;
    }
}

@media screen and (min-width: 961px) {
    .header {
        padding: .5em 16em;
    }

    .menu {
        margin: auto 15em;
    }

    .uvod {
        margin: 1em 16em;
        justify-content: space-between;
    }

    .lekce__blok {
        padding: 2em 16em;
    }

    .blok1 {
        background-position: 50% 30%;
    }

    .blok2 {
        background-position: 50% 25%;
    }

    .blok3 {
        background-position: 75%;
    }

    .cenik {
        margin: 1em 16em;
    }

    .footer {
        padding: .25em 16em;
    }

}

@media screen and (min-width: 1281px) {
    .header {
        padding: .5em 20em;
    }

    .menu {
        margin: auto 20em;
    }

    .uvod {
        margin: 1em 20em;
    }

    .lekce__blok {
        padding: 2em 20em;
    }

    .cenik {
        margin: 1em 20em;
    }

    .footer {
        padding: .25em 20em;
    }

}
